.home-slider {
  height: calc(100vh - 140px);
  position: relative;

  .carousel {
    .carousel-inner {
      .carousel-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 140px - 70px);
      }
    }
  }
}

.arrow {
  position: fixed;
  bottom: 40px;
  transform: translateX(50%);
  color: $main-clr;
  font-size: $heading-fontSize;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: auto;
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translate(50%, 0);
    }
    40% {
      transform: translate(50%, -20px);
    }
    60% {
      transform: translate(50%, -10px);
    }
  }
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-next, .carousel-control-prev {
  color: $mainFont-clr;
  opacity: 0.8;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color: $mainFont-clr;
  opacity: 1;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
  width: auto;
  height: auto;
  margin: 0 25px;

  i {
    font-size: 40px;
  }
}

.single-cat {
  position: relative;
  transition: all 1s;

  .description {
    margin-top: 0;
    padding: 12px;
    overflow: hidden;
    transition: all 1s;

    &.landing {
      display: flex;
      justify-content: space-between;

      span {
        color: #d9b88b;
        text-transform: capitalize;
        font-size: 26px;
        margin: 0;
        line-height: 32px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: all 1s;
      }

      a {
        display: none;
      }
    }

    a.button {
      background-color: #fff;
      padding: 8px 12px;
      color: $mainFont-clr;
      border-radius: 3px;
      font-size: 14px;
      height: 36px;
      transform: translateX(calc(100% + 12px));
      transition: all 1s;
    }

  }

  .col-img {
    display: block;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: 1.5s;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .price {
    transition: all 1s;
  }

  &:hover {
    .col-img {
      background-size: auto 105%;
    }

    span {
      color: $mainFont-clr !important;
    }

    .the-discount {
      transform: scale(1.2);

      span {
        color: #fff !important;
      }
    }

    .price {
      color: #fff;
    }
  }
}

.tick-tock {
  .carousel {
    .carousel-inner {
      .carousel-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 140px - 70px);
        margin-bottom: 130px;
      }
    }
  }
}

.normal-cap {
  width: 75%;
  position: relative;
  top: 100%;
  left: 50%;
  background: $lightMain-clr;
  padding-top: 50px;
  padding-bottom: 50px;
  transform: translate(-50%, -100%);
  transition: 0.5s;

  &:hover {
    color: $mainFont-clr;
  }

  h5 {
    margin: 0;
    padding-right: 12px;
    padding-left: 12px;
    font-size: $heading-fontSize;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
  }
}

.the-discount {
  position: absolute;
  color: #fff;
  top: 20px;
  #{$left}: 20px;
  #{$right}: auto;
  bottom: auto;
  padding: 0;
  width: 75px;
  height: 75px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: $third-clr;
  border-radius: 50%;
  font-size: $med-fontSize;
  transition: 1s all;
}

.month-counter {
  margin-top: 35px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;

  .time {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-#{$right}: 20px;

      &:last-child {
        .single-count {
          div {
            &:after {
              display: none;
            }
          }
        }
      }

      .single-count {
        div {
          width: 65px;
          height: 65px;
          background: $sideNav-bg;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin: 0 auto;
          font-size: $med-fontSize;

          &:after {
            content: ':';
            display: block;
            position: absolute;
            #{$left}: calc(100% + 10px);
            top: 50%;
            transform: translate(-50%, -50%);
            color: #333;
          }
        }

        p {
          margin: 0;
          font-size: 21px;
          text-transform: uppercase;
          text-align: center;
          color: $mainFont-clr;
        }
      }
    }
  }
}

//-------------------------------internals-----------------------------------------
//---------------categories------------
.categories-page {
  .single-category {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    margin-bottom: 30px;
    position: relative;
    display: block;

    .cat-description {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 70px;
      width: 80%;
      text-align: center;
      background: rgba(217, 184, 139, 0.7);
      overflow: hidden;
      transition: 1s;

      h2 {
        margin: 0;
        padding: 20px 10px;
        color: #fff;
        text-transform: capitalize;
        font-size: 26px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      p {
        opacity: 0;
        margin: 0;
        z-index: -100;
        position: absolute;
        transition: 3s;
        padding: 10px;
        top: -100%;
        color: #333;
      }
    }

    .take_a_look {
      background-color: $third-clr;
      padding: 10px 12px;
      color: #fff;
      border-radius: 3px;
      font-size: 14px;
      height: 36px;
      opacity: 0;
      margin: 0 auto;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      transition-delay: 1s;
      transition: opacity 0.2s;
    }

    &:hover {
      .cat-description {
        height: 100%;
        width: 100%;
        background: rgba(217, 184, 139, 0.98);

        h2 {
          white-space: normal;
        }
      }

      .take_a_look {
        opacity: 1
      }

      p {
        opacity: 1;
        z-index: auto;
        position: unset;
      }
    }
  }
}

//---------------products------------
.filtration {
  width: 225px;
  float: left;
  border-right: 1px solid #c7c7c7;
  margin-right: 60px;

  .filter-block {
    margin-bottom: 30px;
    margin-#{$right}: 10px;

    &:last-child {
      margin: 0;
    }

    .check-square02 {
      margin-bottom: 10px;

      &:last-child {
        margin: 0;
      }
    }

    .sup-category {
      margin-left: 1.6rem;
      margin-top: 0.5rem;

      li {
        list-style-type: none;
      }
    }
  }
  .btn-wrapper{
    display: flex;
    justify-content: space-between;
    margin-#{$right}: 10px;
    >*{
      width: 48%;
      margin-right: 4%;
      font-size: 14px;
      &:last-child{
        margin-#{$right}: 0;
      }
    }
  }

  button.btn {
    width: 80%;
  }
}

.product-list {
  float: left;
  width: calc(100% - 225px - 60px);

  .single-cat .col-img {
    background-size: cover;
  }

  .single-cat:hover .col-img {
    background-size: cover;
  }

  .the-discount {
    top: 15px;
    left: 15px;
    font-size: 18px;
    width: 60px;
    height: 60px;
  }

  .single-cat {
    margin-bottom: 30px;
  }
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: $med-fontSize;
    background-color: transparent;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .sale-price {
    color: #c7c7c7;
    position: relative;

    &:before {
      content: ' ';
      background: #c7c7c7;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 55%;
    }
  }
}

.cart-fav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  ul {
    margin: 0;

    li {
      list-style: none;

      button.btn {
        background: rgba(255, 255, 255, 0.8);
        width: 50px;
        height: 45px;

        &:hover {
          &:before {
            color: $main-clr;
          }
        }

        &.active {
          &:hover {
            &:before {
              color: #333;
            }
          }
        }
      }
    }
  }

  .add-to-cart {
    &:before {
      content: '\f07a';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $mainFont-clr;
    }

    &.active {
      &:before {
        content: '\f07a';
        font-weight: 900;
        color: green;
      }
    }
  }

  .add-to-fav {
    &:before {
      content: '\f004';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $mainFont-clr;
    }

    &.active {
      &:before {
        content: '\f004';
        font-weight: 900;
        color: red;
      }
    }
  }

  .show-preview {
    &:before {
      content: '\f06e';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $mainFont-clr;
    }

    //&.active{
    //  &:before{
    //    content: '\f06e';
    //    font-weight: 900;
    //    color: $main-clr;
    //  }
    //}
  }
}

//---------------products-details-----------
.product-category {
  margin-bottom: calc(120px + 30px + 35px);

  .carousel {
    .carousel-indicators {
      margin: 0;
      height: 120px;
      top: calc(100% + 30px);
      width: calc(50% - 15px);
      justify-content: flex-start;

      li {
        height: 120px;
        width: calc(25% - 11.25px);
        margin: 0;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        div{
          padding-top: 100%;
          background-position: center;
          background-size: cover;
        }
        &:before, &:after{
          display: none;
        }
        &:last-child {
          margin: 0;
        }
      }
    }

    .carousel-inner {
      width: calc(50% - 15px);
      float: left;
      margin-right: 30px;

      .carousel-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
      }
    }

    .the-product-det {
      float: left;
      width: calc(50% - 15px);
    }
  }
}

.product-specs {
  margin-bottom: 60px;
}

.nav-tabs {
  border-bottom: 1px solid $mainFont-clr;
  margin-bottom: 20px;
  justify-content: space-between;
}

.nav-link {
  padding: 0.5rem 0;
}

.nav-tabs .nav-item {
  color: $mainFont-clr;
  border-radius: 0;
  margin-bottom: -2px;
  font-size: $login-fontSize;
  text-transform: uppercase;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: transparent;
  border: 0;
  color: $main-clr;
  border-bottom: 4px solid $main-clr;

  &:hover {
    border-bottom: 4px solid $main-clr;
  }
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom-color: transparent;
}

.tab-content {
  .tabs-content {
    .internals-title {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 20px;
    }
  }
}

.the-product-det {
  height: 500px;
  display: flex;
  align-items: center;
}

.rate-price {
  display: flex;
  margin-bottom: 20px;

  > * {
    margin-right: 25px;

    &:last-child {
      margin: 0;
    }
  }
}

.add-cart {
  form {
    display: flex;
    width: 100%;
  }

  .cart-btn {
    margin-right: 30px;
    width: calc(50% - 15px);
    min-width: 185px;
    text-transform: capitalize;
    position: relative;

    &.active {
      background: $main-clr;
    }
  }

  .love-btn {
    width: calc(50% - 15px);
    background: transparent;
    display: flex;
    justify-content: flex-start;
    color: $mainFont-clr;
    position: relative;

    &.active {
      color: $main-clr;
    }

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      #{$left}: -15px;
      height: 100%;
      width: 1px;
      background: $mainFont-clr;
    }
  }
}

//---------------cart-----------
.cart-page {
  padding-bottom: 35px;

  .add-cart {
    .cart-btn {
      width: 250px;
      margin: 0;

      &:after {
        display: none;
      }
    }

    form {
      justify-content: flex-end;

      button {
        &:first-child {
          margin-#{$right}: 10px
        }
      }
    }
  }
}

.table td, .table th {
  vertical-align: middle;
  border-top: 1px solid $breadcrumb-clr;
  text-transform: capitalize;
}

.table thead th {
  border-bottom: 1px solid $breadcrumb-clr;
  border-top: 0;
}

.table {
  tbody {
    .table-img {
      overflow: hidden;
      width: 100px;
      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }

    .quantity {
      display: flex;

      input {
        width: 50px;
        margin: 0 5px;
        border: none;
        text-align: center;
        background-color: $breadcrumb-clr;
      }

      button.btn {
        width: 30px;
        height: 30px;
        font-size: 14px;
      }
    }

    .remove-item {
      color: #333;
      font-size: 18px;

      &:hover {
        color: $third-clr;
      }
    }

    .total-price {
      font-size: $med-fontSize;
      font-family: $headingFontSemi;
      text-transform: capitalize;
    }
  }

  .add-cart {
    .cart-btn {
      width: auto;
      background: transparent;
      color: #333;

      &.active {
        color: $main-clr;
      }
    }
  }

  .modal-footer {
    form {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      button.btn {
        margin-#{$left}: 10px;
      }
    }
  }
}

//---------------registration-----------
.registration {
  padding-bottom: 60px;

  .registration-img {
    width: 100%;
    height: 100%;
  }

  .check-square02 {
    margin-bottom: 20px;
  }
}

//---------------contact-us--------------------------
.contact-us {
  margin-bottom: 50px;

  .internals-title {
    margin-bottom: 20px;
  }

  .info {
    text-align: center;
    font-size: 24px;

    i {
      color: $main-clr;
      font-size: 30px;
    }

    .contact-title {
      font-family: $headingFont;
      text-transform: capitalize;
    }
  }
}