@import "_variables";
@import "_mixins";
@import "_partials";
@import "_animation";
@import "_general";
@import "_header-footer";
@import "_main";
@import "_responsive";
///////////////////////////////////////////////

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../webfonts/SourceSansPro-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../webfonts/SourceSansPro-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../webfonts/SourceSansPro-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../webfonts/SourceSansPro-SemiBold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Black';
  src: url('../webfonts/SourceSansPro-Black.ttf');
  font-style: normal;
}